/*@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SourceSansPro-Regular.otf") format("otf");
  }
*/
@font-face {
    font-family: "Biolinum";
    font-style: normal;
    src: url("/fonts/LinBiolinum_Regular.otf") format("opentype");
}
@font-face {
    font-family: "Biolinum";
    font-weight: bold;
    src: url("/fonts/LinBiolinum_RegularBold.otf") format("opentype");
}
@font-face {
    font-family: "Biolinum";
    font-style: italic;
    src: url("/fonts/LinBiolinum_RegularIt.otf") format("opentype");
}
@font-face {
    font-family: "Biolinum";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/LinBiolinum_BoldIt.otf") format("opentype");
}

body {
  font-family: "Noto Sans", "Biolinum", 'Times New Roman', sans-serif;
  font-size: 12px;
}

  body > div {
    background-image: url("/wallpaper.jpg");
  }

h1, h2, h3 {
    text-align: center;
}

a, a:hover {
    color: #0f67a6;
    text-decoration: none;
}

@media (max-width: 750px) {
    body {
        font-size: 0.7rem;
    }
}